/** @format */
button {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 20px;
  margin-left: 700px;
}
h2 {
  margin-top: 100px;
}
.heading {
  margin: 30px;
}

p {
  text-align: center;
  font-size: 30px;
  margin-left: 80px;
  margin-top: 80px;
  font-weight: 600;
}
span {
  margin-top: 200px;
}
form {
  text-align: center;
  margin: 30px;
}
a {
  text-decoration: none;
}
/*.container-wrap {
  max-width: 80%;
  display: block;
}*/
.information {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
.texts {
  text-align: center;
  font-size: 30px;
  margin-left: 80px;
  font-weight: 600;
}

.contact {
  background-image: url(Images/lagos.jpg);
  height: 100px;
  padding: 30px;
  font-size: xx-large;
  color: white;
}
.check {
  margin-left: 0px;
  background-color: blue;
  font-size: 35px;
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 25px;
}
.starter {
  background-position: absolute;
  opacity: 0.8;
  background-image: url(Images/family\ photo.jpg);
  padding: 150px;
  margin-bottom: 30px;
  font-weight: 900px;
}

.container {
  position: relative;
  display: block;
  color: white;
  margin: 15px;
  /* margin-left: 100px;*/
  width: 300px;
  display: flex;
}
.text-over {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: xx-large;
  /*transform: translate(-50%, -50%);*/
}
.location {
  margin-left: 120px;
}

.trips-img {
  display: block;
  margin-left: 50px;
}
.foods {
  margin-bottom: 100px;
}

.best-destination,
h1,
h2,
h3 {
  text-align: center;
  font-size: 40px;
}
.wrapper {
  margin-top: 150px;
  background-color: black;
}
.culture {
  width: 500px;
}
.signup-body {
  max-width: 800;
  background-image: url(Images/young-couple-travelling-together.jpg);
}
.form-input {
  width: 40%;
  margin-bottom: 20px;
}
.signup-form {
  margin-top: 100px;
  color: white;
  font-size: 30px;
}
.heading a:hover {
  background-color: grey;
}
.contacts-info {
  /* margin: 50px;
  padding: 30px;*/
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(Images/PalanWay\ Island.jpg);
  background-size: cover;
}
.contacts-info::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
.contact-head {
  margin: 10px;
  font-size: 80px;
  font-weight: 600px;
}
.contact-menu {
  font-size: 35px;
  color: rgb(3, 3, 79);
}
.contact-link {
  text-align: center;
  font-size: 20px;
  font-size: 40px;
  color: white;
}
.contact-link:hover {
  color: blue;
}
.contact-logo {
  color: rgb(158, 142, 142);
  font-size: 20px;
}
footer {
  margin-top: 50px;
  display: flex;
  background-color: black;
  border-radius: 15px;
  justify-content: center;
}
